h1 {
    font-size: 50px;
    font-family: "Atomic Age";
    margin: auto;
    text-align: center;
}

table {
    margin: auto;
}

#play {
    text-align: center;
    margin: auto;
    margin: 50px;
}

button {
    font-family: "Audiowide";
    font-size: 17px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: 50px;
    margin-right: 50px;
    border: none;
    color: white;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    background: rgb(28, 184, 65);
    cursor: pointer;
}

button:disabled {
    background: gray;
    cursor: default;
}

#reset {
    text-align: center;
    margin: 100px;
}

#hp {
    margin: 10px;
    background: greenyellow;
}

.health {
    font-family: "Audiowide";
    font-size: 25px;
    font-weight: bold;
}

input {
    font-family: "Atomic Age";
    font-size: 25px;
    padding-left: 7px;
    padding-right: 7px;
    padding-top: 7px;
    padding-bottom: 7px;
    margin-left: 100px;
    margin-right: 100px;
    border: none;
    color: white;
    border-radius: 10px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    background: rgb(3, 163, 255);
    cursor: pointer;
}

td {
    text-align: center;
}
